---
import siteConfig from '../site-config'
import BaseLayout from '../layouts/BaseLayout.astro'
import ListProjects from '../components/ListProjects.vue'
---

<BaseLayout
  title="Projects"
  description="List of projects that I am proud of"
  pageOperate={true}
>
  <h1 class="mb-10 text-title">Projects</h1>
  {
    siteConfig.projects.length > 0 && (
      <div>
        {siteConfig.projects.map((group) => (
          <div mb-10>
            <h2 mb-4 font-bold>
              {group.title}
            </h2>
            <ListProjects list={group.projects} />
          </div>
        ))}
      </div>
    )
  }
</BaseLayout>
